body {
  font-size: 1.8em;
  font-family: 'Source Sans Pro', sans-serif;
}

.error {
  color: red;
  font-weight: bold;
  display: none;
}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 10px;
}

.active {
  font-weight: bold;
}

#button-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}
