<div class="col-xs-12">
  <div  class="row" 
        id="item"
        ng-repeat="item in menu.found">
    <div class="col-xs-12 col-sm-4">
      <img class="img-responsive img-circle center-block"  
          ng-src="images_1/{{ item.short_name }}.jpg" 
          alt="{{ item.name }} image">
    </div>
    <div class="col-xs-12 col-sm-8 text-left">
      <h3>
      <span class="badge" id="short-name">{{ item.short_name }}</span>
      {{ item.name }} 
      </h3>
      <p>{{ item.description }}</p>
      <div class="form-group">
        <button class="btn btn-md btn-defoult"
                id = "remove-button" 
                ng-click="menu.removeItem($index)">
                Don't want this one!
        </button> 
      </div> 
    </div>
  </div>
</div>
